{
    "root": true,
    "extends": [
        "@prototype-interactive/eslint-config/es9",
        "@prototype-interactive/eslint-config/addons/babel-parser",
        "@prototype-interactive/eslint-config/addons/browser",
        "@prototype-interactive/eslint-config/addons/node",
        "@prototype-interactive/eslint-config/addons/es-modules",
        "@prototype-interactive/eslint-config/addons/react",
        "@prototype-interactive/eslint-config/addons/jest"
    ]
}
